name: First-Workflow
on: push
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: list a file
        run: ls -l

      - name: Print a file
        run: cat README.md